*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman';
}

body{

    text-align: center;
    background-color: #EAE2D2;
}

h2{
    border: 100px;
    text-align:left;
    font-family: 'Times New Roman';
    
}

span{
    color: red;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    text-decoration: overline;
    font-size: 100%;
}

p{
    font-size: 200%;
}

h3{
    text-align:justify;
    border-color: brown;

}

Button{
    width: 1Ovh;
    height: 6vh;
    
}

h4{
    text-align: center;
}

ul{
    list-style: none;
    float: right;
    display: flex;
}

ul li a{
    text-decoration: none;
    color: black ;
    padding: 5px 5px ;
    margin: 12px;
    font-weight: 500;
    transition: 0.6s ease;
}

ul li a:hover{
    background: rgb(79, 79, 216);
}

p{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: aqua;
}

h3{
    text-align: center;
    font-size: 30px;
}

small{
    text-align: center;
    position: relative;
    display: inline-block;
    padding: 10px 50px;font-weight: bold;
    background-color:orange;
    color:beige;
    font-size: 1.1em;
    text-decoration: 0;
    transition: 0.5s;
    border-radius: 45px;

}

strong{
    text-align: center;
    position: relative;
    display: inline-block;
    padding: 10px 50px;font-weight: bold;
    background-color:rgb(215, 212, 248);
    color:rgb(63, 63, 51);
    font-size: 1.1em;
    text-decoration: 0;
    transition: 0.5s;
    border-radius: 45px;

    
}


